<section id="mainboxes" class="ng-scope">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row mx-gutters-md-1">
                            <div class="col-sm-12 col-md-6 col-lg-4 ver-divider ver-divider_none-sm safari-float-left">
                                <div class="media align-items-center">
                                    <figure class="sm-avatar mr-2">
                                        <img src="/img/icons/block-height-icon.png" class="img-fluid" alt="Epoch / Block Height">
                                    </figure>
                                    <div class="media-body">
                                        <a href="https://master.xinfin.network/" class="text-size-1 text-link counter ng-binding" data-toggle="tooltip" data-placement="right" data-original-title="" title="" target="_blank">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Epoch</h2>
                                        </a>
                                    </div>
                                    <div class="media-body text-right">
                                        <a href="https://xinfin.network" class="text-size-1 text-link counter ng-binding" data-toggle="tooltip" data-placement="right" data-original-title="" title="" target="_blank">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Block Height</h2>
                                        </a>
                                    </div>
                                </div>
                                <hr class="hr-space-lg">
                                <div class="media align-items-center">
                                    <figure class="sm-avatar mr-2">
                                        <img src="/img/icons/tps-icon.png" class="img-fluid" alt="Current / Max TPS<">
                                    </figure>
                                    <div class="media-body">
                                        <h2 class="font-size-1 text-uppercase text-secondary mb-0">Current/Max TPS</h2>
                                        <a class="text-size-1 text-link counter ng-binding" data-toggle="tooltip" data-placement="right" data-original-title="" title="">/2000</a>
                                    </div>
                                    <div class="media-body text-right">
                                        <h2 class="font-size-1 text-uppercase text-secondary mb-0">Transactions</h2>
                                        <a class="text-size-1 text-link ng-binding" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a>
                                    </div>
                                </div>
                                <hr class="hr-space-lg">
                                <div class="media align-items-center">
                                    <figure class="sm-avatar mr-2">
                                        <img src="/img/icons/burnt-xdc-icon.png" class="img-fluid" alt="Total Stake / Burnt DAX">
                                    </figure>
                                    <!-- <div class="media-body">
                                        <a class="text-size-1 text-link counter " data-toggle="tooltip" data-placement="right" data-title="View More" href="/addr/0x0000000000000000000000000000000000000088" data-original-title="" title="" target="_blank" >
                                        <h2 class="font-size-1 text-uppercase text-secondary mb-0">Total Stake</h2>
                                        {{totalStakedValue | number}}</a>
                                    </div> -->
                                    <div class="media-body text-right">
                                        <a class="text-size-1 text-link counter ng-binding" data-toggle="tooltip" data-placement="right" data-title="View More" href="/addr/0x0000000000000000000000000000000000000000" data-original-title="" title="" target="_blank">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">Burnt DAX</h2>
                                        </a>
                                    </div>
                                </div>
                                <hr class="d-block d-md-none hr-space-lg">
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 ver-divider ver-divider_none-md safari-float-left">
                                <div class="media align-items-center">
                                    <figure class="sm-avatar mr-2">
                                        <img src="/img/icons/online-nodes-icon.png" class="img-fluid" alt="MasterNodes / Daily Rewards">
                                    </figure>
                                    <div class="media-body">
                                        <a href="#" class="text-size-1 text-link counter ng-binding" data-toggle="tooltip" data-placement="right" data-original-title="" title="" target="_blank">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">MasterNodes</h2>
                                        </a>
                                    </div>
                                    <div class="media-body text-right">
                                        <h2 class="font-size-1 text-uppercase text-secondary mb-0">Daily Rewards</h2>
                                        <a class="text-size-1 text-link counter ng-binding" data-toggle="tooltip" data-placement="right" data-original-title="" title=""> DAX</a>
                                    </div>
                                </div>
                                <hr class="hr-space-lg">
                                <div class="media align-items-center">
                                    <figure class="sm-avatar mr-2">
                                        <img src="/img/icons/block-time-icon.png" class="img-fluid" alt="Block Time">
                                    </figure>
                                    <div class="media-body">
                                        <h2 class="font-size-1 text-uppercase text-secondary mb-0">Block Time</h2>
                                        <a class="text-size-1 text-link counter ng-binding" data-toggle="tooltip" data-placement="right" data-original-title="" title=""> <span>s</span></a>
                                    </div>
                                    <div class="media-body text-right">
                                        <h2 class="font-size-1 text-uppercase text-secondary mb-0">Accounts</h2>
                                        <a class="text-size-1 text-link counter ng-binding" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a>
                                    </div>
                                </div>
                                <hr class="hr-space-lg">
                                <div class="media align-items-center">
                                    <figure class="sm-avatar mr-2">
                                        <img src="/img/icons/circulating-supply-icon.png" class="img-fluid" alt="Total DAX Supply / Market Cap">
                                    </figure>
                                    <div class="media-body">
                                        <h2 class="font-size-1 text-uppercase text-secondary mb-0">Circulating Supply</h2>
                                        <a class="text-size-1 text-link counter ng-binding" data-toggle="tooltip" data-placement="right" data-original-title="" title=""> DAX</a>
                                    </div>
                                    <div class="media-body text-right">
                                        <h2 class="font-size-1 text-uppercase text-secondary mb-0"> Market Cap</h2>
                                        <!-- ngIf: $selectedCurrency == 'USD'  --><a ng-if="$selectedCurrency == 'USD' " class="text-size-1 text-link counter ng-binding ng-scope" data-toggle="tooltip" data-placement="right" data-original-title="" title="">$  </a>
                                        <!-- end ngIf: $selectedCurrency == 'USD'  -->
                                        <!-- ngIf: $selectedCurrency == 'INR'  -->
                                        <!-- ngIf: $selectedCurrency == 'EUR'  -->
                                    </div>
                                </div>
                                <hr class="d-block d-md-none hr-space-lg">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 safari-float-left">
                                <hr class="d-none d-md-block d-lg-none my-4">
                                <div class="media align-items-center">
                                    <figure class="sm-avatar mr-2">
                                        <img src="/img/icons/xdc-price-icon.png" class="img-fluid" alt="Producer">
                                    </figure>
                                    <div class="media-body">
                                        <a href="https://coinmarketcap.com/currencies/ProDax/" target="_blank" class="text-size-1 text-link counter" data-toggle="tooltip" data-placement="right" data-original-title="" title="">
                                            <h2 class="font-size-1 text-uppercase text-secondary mb-0">DAX Price</h2>
                                            <!-- ngIf: $selectedCurrency == 'USD'  --><span ng-if="$selectedCurrency == 'USD' " class="ng-binding ng-scope">$ </span>
                                            <!-- end ngIf: $selectedCurrency == 'USD'  -->
                                            <!-- ngIf: $selectedCurrency == 'INR'  -->
                                            <!-- ngIf: $selectedCurrency == 'EUR'  -->
                                        </a>
                                        <small text-size-1="%"> </small>

                                    </div>
                                </div>
                                <hr class="hr-space-lg">
                                <div class="media align-items-center">
                                    <figure class="sm-avatar mr-2">
                                        <img src="/img/icons/marketcap-icon.png" class="img-fluid" alt="Total DAX Supply / Market Cap">
                                    </figure>
                                    <div class="media-body text-left">
                                        <h2 class="font-size-1 text-uppercase text-secondary mb-0">Fully Diluted Market Cap</h2>
                                        <!-- ngIf: $selectedCurrency == 'USD'  --><a ng-if="$selectedCurrency == 'USD' " class="text-size-1 text-link counter ng-binding ng-scope" data-toggle="tooltip" data-placement="right" data-original-title="" title="">$  </a>
                                        <!-- end ngIf: $selectedCurrency == 'USD'  -->
                                        <!-- ngIf: $selectedCurrency == 'INR'  -->
                                        <!-- ngIf: $selectedCurrency == 'EUR'  -->
                                    </div>
                                </div>
                                <hr class="hr-space-lg">
                                <div class="media align-items-center">
                                    <figure class="sm-avatar mr-2">
                                        <img src="/img/icons/total-xdc-supply-icon.png" class="img-fluid" alt="Total DAX Supply / Market Cap">
                                    </figure>
                                    <div class="media-body">
                                        <h2 class="font-size-1 text-uppercase text-secondary mb-0">Total DAX Supply</h2>
                                        <a class="text-size-1 text-link counter ng-binding" data-toggle="tooltip" data-placement="right" data-original-title="" title=""> DAX</a>
                                    </div>
                                </div>
                                <!-- <hr class="hr-space-sm"> -->
                                <!-- <div class="media align-items-center">
                                    <iframe frameborder="0" style="border-bottom: 1px solid #f0f0f0; height:175px; overflow:scroll; width: 100%" src="https://xinfin.io/sdx-volume-coinpaparika.html" marginheight="1" marginwidth="1" seamless="seamless" scrolling="no" allowtransparency="true"></iframe>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Main Box -->
    </div>
    <!-- end container -->
</section>